html, body {
background-image:url(/çizim\ orman.jpg);
 background-repeat: no-repeat;
 background-size: cover;
    background-position: center;
    height: 100%; 
}
#dividsi{
    padding-top: 100px;
padding-bottom: 25px;
padding-left: 650px;
}
#dividsi2{
margin-top: -10px;
padding-left: 650px;
}
#vsdiv{
    color: #ff8800;
    padding-left: px;
    padding-top: -150px;
}
#vsyazisi{
    font-size:80px;
}
.tasbutonu{
font-size: 22px;
background-color: grey;
border: 1px solid rgb(173, 6, 6);
border-radius: 30px;
cursor: pointer;
box-shadow: 0 1px black;
}
.kagitbutonu{
font-size: 22px;
background-color: grey;
border: 1px solid rgb(43, 43, 225);
border-radius: 30px;
cursor: pointer;
box-shadow: 0 1px black;
}
.makasbutonu{
font-size: 22px;
background-color: grey;
border: 1px solid orange;
border-radius: 30px;
cursor: pointer;
box-shadow: 0 1px black;
}
.tasbutonu2{
font-size: 22px;
background-color: grey;
border: 1px solid rgb(173, 6, 6);
border-radius: 30px;
cursor: pointer;
box-shadow: 0 1px black;
}
.kagitbutonu2{
font-size: 22px;
background-color: grey;
border: 1px solid rgb(43, 43, 225);
border-radius: 30px;
cursor: pointer;
box-shadow: 0 1px black;
}

.makasbutonu2{
font-size: 22px;
background-color: grey;
border: 1px solid orange;
border-radius: 30px;
box-shadow: 0 1px black;
cursor: pointer;
}
.tasbutonu:active {
background-color: rgb(118, 228, 125);
box-shadow: 0 1px black;
}
.kagitbutonu:active {
background-color: rgb(118, 228, 125);
box-shadow: 0 1px black;
}
.makasbutonu:active {
background-color: rgb(118, 228, 125);
box-shadow: 0 1px rgb(32, 19, 19);
}
.tasbutonu2:active {
background-color: rgb(118, 228, 125);
box-shadow: 0 1px black;
}
.kagitbutonu2:active {
background-color:rgb(118, 228, 125);
box-shadow: 0 1px black;
}
.makasbutonu2:active {
background-color:rgb(118, 228, 125);
box-shadow: 0 1px black;
} 


#ff {
  font-size: 25px;
  background-color: rgb(75, 65, 65);
}
#hp-container {
    width: 300px;
    margin: 20px auto;
    text-align: center;
    color: white;
    margin-top:-20px;
}

.hp-bar {
    width: 100%;
    height: 25px;
    background: #333;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    
}

.hp-fill {
    height: 100%;
    width: 100%;         
    background: limegreen;
    transition: width 0.3s ease; 
}
#refreshBtn{
    margin-left: 1000px;
    font-size: 20px;
    color: #874242;
    background-color: red;
    box-shadow: 0 1px black;
    border-radius: 28px;
}
